## 数据处理之Pandas
Pandas是一个开源的、基于NumPy的一种数据处理分析工具，它的主要功能是解决数据处理和数据分析的任务。Pandas吸纳了大量库和一些标准的数据模型，提供了高效操作大型数据集所需的工具，Pandas中的函数和方法能够使我们更为方便快捷地处理数据。Pandas中最为经典的两类数据结构为Series和DataFrame，能够处理金融、统计、社会科学和许多工程领域中绝大多数典型用例。

---
### 1 模块导入

##### （1）导入pandas模块

下面为导入pandas模块代码惯例。

In [119]:
import pandas as pd

---
### 2 数据创建

##### （2）创建Series1
通过pd.Series函数创建Series。

In [120]:
s = pd.Series([1, 2, 3, 4])    
s

0    1
1    2
2    3
3    4
dtype: int64

##### （3）创建Series2
通过pd.Series函数创建Series，传入参数为包含映射关系的对象,如字典。

函数运行时将映射关系在前的（如字典键）作为Series的key，在后的作为值。

In [121]:
s = pd.Series({'a':1, 'b':2})
s

a    1
b    2
dtype: int64

##### （4）创建DataFrame
通过pd.DataFrame函数创建DataFrame，可通过传入colums，index参数设置DataFrame的行index和列名。

In [122]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'])    
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

---
### 3 数据操作

#### 3.1 Series索引

##### （5）获取 Series 的 index

In [3]:
s = pd.Series([1, 2, 3, 4])                # 创建Series

s.index

NameError: name 'pd' is not defined

##### （6）获取 Series 的 value

In [2]:
s = pd.Series([1, 2, 3, 4])                # 创建Series

s.values

NameError: name 'pd' is not defined

##### （7）修改 Series 索引
通过对index使用等号赋值的方式完成对index的调整。

In [125]:
s = pd.Series([1, 2, 3, 4])                # 创建Series

s.index = ['a', 'b', 'c', 'd']             # 修改索引   
s

a    1
b    2
c    3
d    4
dtype: int64

##### （8）Series以位置进行索引
通过位置获取Series中某个元素，使用方法类似list的索引。

In [126]:
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c','d'])      # 创建Series

s[1]

2

##### （9）Series以index进行索引
通过输入Series某一个index的值获得对应的value。

In [127]:
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c','d'])      # 创建Series

s['c']

3

##### （10）Series以bool值进行索引
通过输入bool值进行索引，如果为True，则获取对应元素，如果为False，则忽略元素。

In [128]:
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c','d'])      # 创建Series

s[s > 2]    # 以bool值进行索引

c    3
d    4
dtype: int64

##### （11）Series以位置进行切片
切片方式类似list。

In [129]:
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c','d'])      # 创建Series

s[1:3]

b    2
c    3
dtype: int64

##### （12）Series以index进行切片
series[a:b] 使用a，b两个series中的index进行切片，将获得a，b之间（包含b）的所有数据。

In [130]:
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c','d'])      # 创建Series

s['a':'c']    # 以index进行切片，注意包含末尾index对应的value

a    1
b    2
c    3
dtype: int64

#### 3.2 DataFrame索引

##### （13）获得DataFrame行index
使用df.index属性进行获取。

In [131]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'])
                                       # 创建DataFrame
df.index                               # 获取index

RangeIndex(start=0, stop=3, step=1)

##### （14）获得DataFrame列index（列名）
使用df.columns属性进行获取。

In [132]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'])
                                       # 创建DataFrame
df.columns                             # 获取列index

Index(['a', 'b', 'c'], dtype='object')

##### （15）修改行index
通过对df.index进行属性赋值方式，完成对行index 的修改。对列属性df.columns修改也可以采用同样方式。

In [133]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'])
                                       # 创建DataFrame

df.index = ['e', 'f', 'g']             # 修改行index
df

   a  b  c
e  1  2  3
f  4  5  6
g  7  8  9

##### （16）DataFrame获取列数据

通过列index获取DataFrame中某一列数据。

In [134]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'])
                                       # 创建DataFrame

df['a']                                # 进行索引

0    1
1    4
2    7
Name: a, dtype: int64

##### （17）DataFrame获取多列数据
通过传入多个列index元素获取DataFrame的相应多列数据。

注意传入参数应为一个包含列index的列表。

In [135]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'])
                                       # 创建DataFrame

df[['a', 'c']]                         # 索引多列数据

   a  c
0  1  3
1  4  6
2  7  9

##### （18）DataFrame获取行数据1
使用df.loc方法通过传入行index获取行数据。

df.loc[a:b]表示获取从a行开始到b行为止（含b行）数据。  
df.loc[a:] 表示获取从a行开始到DataFrame末尾的所有数据。  
df.loc[:b] 表示获取从DataFrame首行开始到b行为止（含b行）所有的数据。  
df.loc[a:b:s]表示以步长为s获取从a行开始到b行为止之间的所有数据。

In [136]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','y','z'])
                                       # 创建DataFrame

df.loc['x':'z':2]                            # 以行index进行索引返回行数据

   a  b  c
x  1  2  3
z  7  8  9

##### （19）DataFrame获取行数据2
使用df.iloc方法通过传入位置参数获取行数据。

df.iloc[a:b]表示获取从位置a行开始到位置b行为止（不含b行）数据。  
df.iloc[a:] 表示获取从位置a行开始到DataFrame末尾的所有数据。  
df.iloc[:b] 表示获取从DataFrame首行开始到位置b行为止（不含b行）所有的数据。  
df.iloc[a:b:s]表示以步长为s获取从位置a行开始到位置b行为止之间的所有数据。

In [137]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','y','z'])
                                       # 创建DataFrame

df.iloc[0]                             # 以行位置进行索引返回行数据

a    1
b    2
c    3
Name: x, dtype: int64

##### （20）DataFrame获取多行数据1

使用df.loc方法，通过传入多行index获取多行数据。

注意传入参数应为一个包含列index的列表。

In [138]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','y','z'])
                                       # 创建DataFrame

df.loc[['x','y']]                      # 索引获取多行数据

   a  b  c
x  1  2  3
y  4  5  6

##### （21）DataFrame获取多行数据2
使用df.iloc方法，通过传入多行的位置获取多行数据。

注意传入参数应为一个包含列位置的列表。

In [139]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','y','z'])
                                       # 创建DataFrame

df.iloc[[0, 1]]    # 以行位置进行索引返回多行数据

   a  b  c
x  1  2  3
y  4  5  6

##### （22）以行列 index 获取某个位置数据
使用df.loc方法，通过传入行index，列index获取一个数据。

In [140]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','y','z'])
                                       # 创建DataFrame

df.loc['x', 'a']                       # 进行索引返回某个位置数据

1

##### （23）以行列位置获取某个位置数据
使用df.iloc方法，通过传入行位置，列位置获取一个数据。

In [141]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','y','z'])
                                       # 创建DataFrame

df.iloc[0, 0]                          # 进行索引返回某个位置数据

1

##### （24）以行列 index 获取某个区域数据
使用df.loc方法，通过传入行列index获取某个区域的数据。

df.loc[a:b, x:y]，其中传入的行列标签使用规则参照使用行标签进行索引和使用列标签进行索引。

In [142]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','y','z'])
                                       # 创建DataFrame

df.loc['x':'z', 'b':'c']               # 进行索引返回某个区域数据

   b  c
x  2  3
y  5  6
z  8  9

##### （25）以行列位置获取某个区域数据
使用df.iloc方法，通过传入行列位置获取某个区域的数据。  
df.iloc[a:b, x:y]，其中传入的行列位置使用规则参照使用行位置进行索引，列位置使用规则与行位置规则相似。

In [143]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','y','z'])
                                       # 创建DataFrame

df.iloc[:, 0:2]                        # 进行索引返回某个区域数据

   a  b
x  1  2
y  4  5
z  7  8

##### （26）DataFrame获得前 n 行数据
使用df.head方法获得前n行数据，如果不传入参数，默认获取前5行。

In [144]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','y','z'])
                                       # 创建DataFrame
    

df.head(2)                             # 获取前两行数据

   a  b  c
x  1  2  3
y  4  5  6

##### （27）DataFrame获得末尾 n行数据
使用df.tail方法获得后n行数据，如果不传入参数，默认获取后5行。

In [145]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','y','z'])
                                       # 创建DataFrame

df.tail(2)                             # 获取后两行数据

   a  b  c
y  4  5  6
z  7  8  9

#### 3.3  Series数据清洗、排序、平移、拼接

##### （28）Series检测缺失值
使用series.isnull方法检测每一个元素是否为nan。  
（如果是None，在转化为Series会被转化为np.nan)

In [146]:
s = pd.Series([1, 2, np.nan, 4])               # 创建Series

s.isnull()                                     # 检测nan值

0    False
1    False
2     True
3    False
dtype: bool

##### （29）Series填充缺失值
使用series.fillna方法填充缺失值。  

常用参数：  
value：设置填充时使用值  
method：设置填充方式  
inplace: 设置是否对当前series进行原地修改

In [147]:
s = pd.Series([1, 2, np.nan, 4])               # 创建Series

s.fillna(method='ffill')                       # 进行填充

0    1.0
1    2.0
2    2.0
3    4.0
dtype: float64

##### （30）Series删除缺失值
使用series.dropna方法删除缺失数据。

常用参数：  
inplace: 设置是否对当前series进行原地修改

In [148]:
s = pd.Series([1, 2, np.nan, 4])               # 创建Series

s.dropna()                                     # 进行删除

0    1.0
1    2.0
3    4.0
dtype: float64

##### （31）Series以 index 排序
使用series.sort_index方法，根据index的顺序对series进行排序。

常用参数：  
ascending: 设置是否升序排序  
inplace: 设置是否对当前series进行原地修改

In [149]:
s = pd.Series([1, 2, np.nan, 4], index=[2,3,1,4])               # 创建Series

s.sort_index()                                 # 进行排序

1    NaN
2    1.0
3    2.0
4    4.0
dtype: float64

##### （32）Series以值进行排序
使用series.sort_values方法，根据数据值的大小进行排序。

常用参数：  
ascending: 设置是否升序排序  
inplace: 设置是否对当前series进行原地修改

In [150]:
s = pd.Series([1, 2, np.nan, 4])               # 创建Series

s.sort_values()                                # 进行排序

0    1.0
1    2.0
3    4.0
2    NaN
dtype: float64

##### （33）Series值平移
使用series.shift方法，保持index不动，将数值整体进行平移。进行平移后在首尾出现空值的位置适应np.nan进行填充。

In [151]:
s = pd.Series([1, 2, np.nan, 4])               # 创建Series

s.shift(1)

0    NaN
1    1.0
2    2.0
3    NaN
dtype: float64

##### （34）Series拼接
使用series.append另一个Series与原Series进行拼接。

常用参数：
ignore_index;表示进行拼接时是否忽略传入series自身的index。

In [152]:
s1 = pd.Series([1, 2, 3])               # 创建Series s1
s1

0    1
1    2
2    3
dtype: int64

In [153]:
s2 = pd.Series([1, 2, 3], index=['a', 'b','c'])               # 创建Series s1
s2

a    1
b    2
c    3
dtype: int64

In [154]:
s1.append(s2)

0    1
1    2
2    3
a    1
b    2
c    3
dtype: int64

#### 3.4 DataFrame数据清洗、排序、平移、拼接

##### （35）DataFrame检测缺失值
使用dataframe.isnull方法检测每一个元素是否为nan。
（如果是None，会被转化为np.nan)

In [155]:
df = pd.DataFrame([[1, np.nan, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','y','z'])
                                       # 创建DataFrame

df.isnull()                            # 检测是否为nan

       a      b      c
x  False   True  False
y  False  False  False
z  False  False  False

##### （36）DataFrame填充缺失值
使用dataframe.fillna方法填充缺失值。  
常用参数：  
value：设置填充时使用值  
method：设置填充方式  
inplace: 设置是否对当前dataframe进行原地修改

In [156]:
df = pd.DataFrame([[1, np.nan, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','y','z'])
                                       # 创建DataFrame

df.fillna(method='bfill')              # 进行填充

   a    b  c
x  1  5.0  3
y  4  5.0  6
z  7  8.0  9

##### （37）DataFrame删除缺失值

使用dataframe.dropna方法删除缺失数据。  
常用参数：  
inplace: 设置是否对当前dataframe进行原地修改   
how:设置删除判定条件。'any'表示只要存在一个数据为nan，则将该条数据删除；'all'表示该条数据中所有数据都为nan才会将其删除。  
axis：删除缺失值时的判定执行方向。'0'表示将一行数据作为一条数据进行判定，'1'表示将一列数据作为一条数据进行判定。

In [157]:
df = pd.DataFrame([[1, np.nan, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','y','z'])
                                       # 创建DataFrame

df.dropna()                            # 删除缺失值

   a    b  c
y  4  5.0  6
z  7  8.0  9

##### （38）DataFrame以index进行排序

使用dataframe.sort_index方法，根据index的顺序对dataframe进行排序。可以根据行index或列index对行或列进行排序。  

常用参数：  
ascending: 设置是否升序排序  
inplace: 设置是否对当前dataframe进行原地修改  
axis: '0'表示对行index进行排序，'1'表示对列index(即column）进行排序

In [158]:
df = pd.DataFrame([[1, np.nan, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','z','y'])
                                       # 创建DataFrame

df.sort_index()                        # 进行排序

   a    b  c
x  1  NaN  3
y  7  8.0  9
z  4  5.0  6

##### （39）DataFrame以某值进行排序
使用dataframe.sort_values方法，根据某行或列数值的顺序对dataframe进行排序。可以根据某行值或某列值进行排序。

by：排序时作为标准的行或列index，可以传入单个或包含多个的列表  
ascending: 设置是否升序排序  
inplace: 设置是否对当前dataframe进行原地修改  
axis: '0'表示根据一列数据对多行进行排序，'1'表示根据一行数据对一列进行排序，默认为0

In [159]:
df = pd.DataFrame([[1, np.nan, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','z','y'])
                                       # 创建DataFrame
    
df.sort_values(by='b', ascending=False)    # 进行排序

   a    b  c
y  7  8.0  9
z  4  5.0  6
x  1  NaN  3

##### （40）Dataframe与Series合并简单方式。
通过对DataFrame新列使用等号赋值一个Series的方式完成DataFrame与Series合并。合并时将按照dataframe的index，对新列数据使用Series数据进行填充。如果dataframe中某一个index在Series中没有对应值，那么用nan进行填充。

In [160]:
df = pd.DataFrame([[1, np.nan, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'],index=['x','z','y'])
                                                     # 创建DataFrame
s = pd.Series([10, 10], index=['x', 'y'])            # 创建Series

df['new_column'] = s                                 # 进行合并
df

   a    b  c  new_column
x  1  NaN  3        10.0
z  4  5.0  6         NaN
y  7  8.0  9        10.0

##### （41）两个DataFrame进行合并1
使用pd.merge函数或dataframe.merge方法对两个DataFrame进行合并。
（详细使用介绍请参考AQF课程资料）

In [161]:
df1 = pd.DataFrame([['a', np.nan], ['b', 5], ['c', 8]], columns=['key1', 'value1'],index=['x','z','y'])
                                                     # 创建DataFrame df1
df1

  key1  value1
x    a     NaN
z    b     5.0
y    c     8.0

In [162]:
df2 = pd.DataFrame([['a', 100], ['b', 10], ['c', 100]], columns=['key2', 'value2'],index=['x','z','y'])
                                                     # 创建DataFrame  df2
df2

  key2  value2
x    a     100
z    b      10
y    c     100

In [163]:
df1.merge(df2, left_on='key1', right_on='key2')      # 进行合并

  key1  value1 key2  value2
0    a     NaN    a     100
1    b     5.0    b      10
2    c     8.0    c     100

##### （42）两个DataFrame进行合并2

参照两个DataFrame的index使用dataframe.join方法对两个DataFrame进行合并。 （详细使用介绍请参考AQF课程资料）

In [164]:
df1 = pd.DataFrame([['a', np.nan], ['b', 5], ['c', 8]], columns=['key1', 'value1'],index=['x','z','y'])
                                                     # 创建DataFrame df1
df1

  key1  value1
x    a     NaN
z    b     5.0
y    c     8.0

In [165]:
df2 = pd.DataFrame([['a', 100], ['b', 10], ['c', 100]], columns=['key2', 'value2'],index=['x','z','y'])
                                                     # 创建DataFrame  df2
df2

  key2  value2
x    a     100
z    b      10
y    c     100

In [166]:
df1.join(df2)      # 进行合并

  key1  value1 key2  value2
x    a     NaN    a     100
z    b     5.0    b      10
y    c     8.0    c     100

##### （43）两个DataFrame进行拼接
将多个DataFrame进行拼接 （详细使用介绍请参考AQF课程资料）

In [167]:
df1 = pd.DataFrame([['a', np.nan], ['b', 5], ['c', 8]], columns=['key1', 'value1'],index=['x','z','y'])
                                                     # 创建DataFrame df1
df1

  key1  value1
x    a     NaN
z    b     5.0
y    c     8.0

In [168]:
df2 = pd.DataFrame([['a', 100], ['b', 10], ['c', 100]], columns=['key2', 'value2'],index=['x','z','y'])
                                                     # 创建DataFrame  df2
df2

  key2  value2
x    a     100
z    b      10
y    c     100

In [169]:
pd.concat([df1, df2], axis=1)                   # 进行拼接

  key1  value1 key2  value2
x    a     NaN    a     100
z    b     5.0    b      10
y    c     8.0    c     100

---

### 4 数据统计

#### 4.1 Series相关计算

##### （44）Series汇总统计
利用series.describe方法可以获取当前Series的数据数量，均值，标准差，最大值，最小值，分位数的数据。

In [170]:
s = pd.Series([1, 2, 3, 4, 5])              # 创建Series

s.describe()                                # 汇总统计

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

##### （45）Series统计非NaN值数量
利用series.count方法获得Series中非nan值的数据数量。

In [171]:
s = pd.Series([1, 2, 3, 4, 5])              # 创建Series

s.count()                                   # 进行数量统计

5

##### （46）Series统计最大值
利用series.max方法获得Series中最大值。

In [172]:
s = pd.Series([1, 2, 3, 4, 5])              # 创建Series

s.max()                                     # 获取最大值

5

##### （47）Series统计最小值
利用series.min方法获得Series中最小值。

In [173]:
s = pd.Series([1, 2, 3, 4, 5])              # 创建Series

s.min()                                     # 获取最小值

1

##### （48）Series获得最大值索引
利用series.argmax方法获得最大值的index。

In [174]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.argmax()                                   # 获取最大值index

'e'

##### （49）Series获得最小值索引
利用series.argmin方法获得最小值的index。

In [175]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.argmin()                                   # 获取最小值index

'a'

##### （50）Series获得分位数

利用series.quantile方法获得分位数。

In [176]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.quantile(0.25)                             # 求分位数

2.0

##### （51）Series获得总和
利用series.sum方法获得总和。

In [177]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.sum()                                      # 求和

15

##### （52）Series获得平均值
利用series.mean方法获得平均值。

In [178]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.mean()                                     # 求平均值

3.0

##### （53）Series获得算数中位数
利用series.median方法获得中位数。

In [179]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.median()                                   # 求中位数

3.0

##### （54）Series获得平均绝对离差
利用series.mad方法获得平均绝对离差。

In [180]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.mad()                                      # 求平均绝对离差

1.2

##### （55）Series获得方差
利用series.var方法获得方差。

In [181]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.var()                                      # 求方差

2.5

##### （56）Series获得标准差
利用series.std方法获得标准差。

In [182]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.std()                                      # 求标准差

1.5811388300841898

##### （57）Series获得偏度
利用series.skew方法获得偏度。

In [183]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.skew()                                     # 求偏度

0.0

##### （58）Series获得峰度
利用series.kurt方法获得峰度。

In [184]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.kurt()                                     # 求峰度

-1.2000000000000002

##### （59）Series获得累计和
利用series.cumsum方法获得累计和。

In [185]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.cumsum()                                   # 计算累计和

a     1
b     3
c     6
d    10
e    15
dtype: int64

##### （60）Series获得累计最大值
利用series.cummax方法获得累计最大值。

In [186]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.cummax()                                   # 计算累计最大值

a    1
b    2
c    3
d    4
e    5
dtype: int64

##### （61）Series获取累计最小值
利用series.cummin方法获得累计最小值。

In [187]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.cummin()

a    1
b    1
c    1
d    1
e    1
dtype: int64

##### （62）Series获取累计乘积
利用series.cumprod方法获得累计乘积。

In [188]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.cumprod()                                  # 求累计乘积

a      1
b      2
c      6
d     24
e    120
dtype: int64

##### （63）Series计算一阶差分
利用series.diff函数计算一阶差分。

In [189]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.diff()                                     # 计算一阶差分

a    NaN
b    1.0
c    1.0
d    1.0
e    1.0
dtype: float64

##### （64）Series计算百分数变化
利用series.pct_change方法计算百分比变化。

In [190]:
s = pd.Series([1, 2, 3, 4, 5], 
              index=['a','b','c','d','e'])   # 创建Series

s.pct_change()                               # 计算百分比变化

a         NaN
b    1.000000
c    0.500000
d    0.333333
e    0.250000
dtype: float64

##### （65）计算两个series协方差
利用series.cov方法计算两个series的协方差。

In [191]:
s1 = pd.Series([1,2,3,4])                    # 创建series s1
s2 = pd.Series([1,2,4,2])                    # 创建series s2

In [192]:
s1.cov(s2)                                   # 计算协方差

0.83333333333333326

##### （66）计算两个Series相关系数
利用series.corr方法计算两个series的相关系数。

In [193]:
s1 = pd.Series([1,2,3,4])                    # 创建series s1
s2 = pd.Series([1,2,4,2])                    # 创建series s2

In [194]:
s1.corr(s2)                                  # 计算相关系数

0.5129891760425771

##### （67）Series移动窗口函数使用1
利用series.rolling方法获得一个移动窗口进行运算。

该方法常用于时间序列处理。

In [195]:
s = pd.Series([1,2,3,4,2,4,5,3,5,2])         # 创建series

In [196]:
s.rolling(3).mean()                         # 利用移动窗口计算平均值

0         NaN
1         NaN
2    2.000000
3    3.000000
4    3.000000
5    3.333333
6    3.666667
7    4.000000
8    4.333333
9    3.333333
dtype: float64

##### （68）Series移动窗口函数使用2
利用series.rolling方法获得一个移动窗口进行运算。  

该方法常用于时间序列处理。

In [197]:
s.rolling(3).apply(np.mean)

0         NaN
1         NaN
2    2.000000
3    3.000000
4    3.000000
5    3.333333
6    3.666667
7    4.000000
8    4.333333
9    3.333333
dtype: float64

#### 4.2 DataFrame相关计算

##### （69）DataFrame汇总统计

利用df.describe方法获得各列的数据数量，平均值，标准差，最小值，分位数，最大值。

In [198]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.describe()                       # 获得汇总统计

               a          b
count   4.000000   4.000000
mean    5.500000   6.500000
std     3.872983   3.872983
min     1.000000   2.000000
25%     3.250000   4.250000
50%     5.500000   6.500000
75%     7.750000   8.750000
max    10.000000  11.000000

##### （70）DataFrame统计非NaN值数量
利用df.count方法获得各列（或行）非nan值的数据数量。

In [199]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.count()                          # 计数

a    4
b    4
dtype: int64

##### （71）DataFrame统计最大值
利用df.max方法获得各列（或行）最大值。

In [200]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe
    
df.max()                            # 求最大值

a    10
b    11
dtype: int64

##### （72）DataFrame统计最小值
利用df.min方法获得各列（或行）最小值。

In [201]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.min()                            # 求最小值

a    1
b    2
dtype: int64

##### （73）DataFrame获得分位数
利用df.quantile方法获得各列（或行）分位数。

In [202]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.quantile(0.25)                   # 求分位数

a    3.25
b    4.25
Name: 0.25, dtype: float64

##### （74）DataFrame获得总和
利用df.sum方法获得各列（或行）总和。

In [203]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.sum()                            # 求总和

a    22
b    26
dtype: int64

##### （75）DataFrame获得平均值
利用df.mean方法获得各列（或行）平均值。

In [204]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.mean()                           # 求平均值

a    5.5
b    6.5
dtype: float64

##### （76）DataFrame获得算数中位数
利用df.median方法获得各列（或行）中位数

In [205]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.median()                         # 求中位数

a    5.5
b    6.5
dtype: float64

##### （77）DataFrame获得平均绝对离差
利用df.mad方法获得各列（或行）平均绝对离差。

In [206]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.mad()                            # 求平均绝对离差

a    3.0
b    3.0
dtype: float64

##### （78）DataFrame获得方差
利用df.var方法获得各列（或行）方差。

In [207]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.var()                            # 求方差

a    15.0
b    15.0
dtype: float64

##### （79）DataFrame获得标准差
利用df.std方法获得各列（或行）标准差。

In [208]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.std()                            # 求标准差

a    3.872983
b    3.872983
dtype: float64

##### （80）DataFrame获得偏度
利用df.skew方法获得各列（或行）偏度。

In [209]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.skew()                           # 求偏度

a    0.0
b    0.0
dtype: float64

##### （81）DataFrame获得峰度
利用df.kurt方法获得各列（或行）峰度。

In [210]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.kurt()                           # 求峰度

a   -1.2
b   -1.2
dtype: float64

##### （82）DataFrame获得累计和
利用df.cumsum方法获得各列（或行）累计和。

In [211]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.cumsum()                         # 求累计和

    a   b
0   1   2
1   5   7
2  12  15
3  22  26

##### （83）DataFrame获得累计最大值
利用df.cummax方法获得各列（或行）累计最大值。

In [212]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.cummax()                         # 求累计最大值

    a   b
0   1   2
1   4   5
2   7   8
3  10  11

##### （84）DataFrame获取累计最小值
利用df.cummin方法获得各列（或行）累计最小值。

In [213]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.cummin()                         # 求累计最小值

   a  b
0  1  2
1  1  2
2  1  2
3  1  2

##### （85）DataFrame获取累计乘积
利用df.cumprod方法获得各列（或行）的累计乘积。

In [214]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.cumprod()                        # 求累计乘积

     a    b
0    1    2
1    4   10
2   28   80
3  280  880

##### （86）DataFrame计算百分数变化
利用df.pct_change方法获得各列数据的百分比变化。

常用参数：
periods：用于确定计算百分比变化选定的窗口期数，默认为1

In [215]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.pct_change(periods=2)            # 求百分比变化

     a    b
0  NaN  NaN
1  NaN  NaN
2  6.0  3.0
3  1.5  1.2

##### （87）DataFrame计算各列协方差矩阵
利用df.cov方法获得各列数据的协方差矩阵。

In [216]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.cov()                            # 求协方差矩阵

      a     b
a  15.0  15.0
b  15.0  15.0

##### （88）DataFrame计算各列相关系数矩阵
利用df.corr方法获得各列数据的相关系数矩阵。

In [217]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.corr()                           # 求相关系数矩阵

     a    b
a  1.0  1.0
b  1.0  1.0

##### （89）DataFrame各列分别计算与一个Series之间的相关系数
利用df.corrwith方法获得dataframe各列与series数据之间的相关系数。

In [218]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe
s = pd.Series([2,3,6])              # 创建Series

df.corrwith(s)                      # 求相关系数

a    0.960769
b    0.960769
dtype: float64

##### （90）DataFrame移动窗口函数1
利用df.rolling方法获得一个移动窗口进行运算。

该方法常用于时间序列处理。

In [219]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.rolling(3).mean()                # 计算移动平均

     a    b
0  NaN  NaN
1  NaN  NaN
2  4.0  5.0
3  7.0  8.0

##### （91）DataFrame移动窗口函数1
利用df.rolling方法获得一个移动窗口进行运算。

该方法常用于时间序列处理。

In [220]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [10, 11]], columns=['a', 'b']) 
                                    # 创建dataframe

df.rolling(3).apply(np.mean)        # 计算移动平均

     a    b
0  NaN  NaN
1  NaN  NaN
2  4.0  5.0
3  7.0  8.0

##### （92）DataFrame的Groupby技术1
利用df.groupby方法根据某列（或行）对数据进行聚合后进行运算。

常用参数：  
by：常输入字符串或元素为字符串的列表，选择列index与之相同的列作为聚合依据。

In [221]:
df = pd.DataFrame([['a',2], ['a',35], ['b',2], ['a',6], ['c',5]], 
                  columns=['name', 'number'])     
                               # 创建dataframe
df

  name  number
0    a       2
1    a      35
2    b       2
3    a       6
4    c       5

In [222]:
df.groupby('name').mean()         # 分组计算平均值

         number
name
a     14.333333
b      2.000000
c      5.000000

##### （93）DataFrame的Groupby技术1
利用df.groupby方法根据某列（或行）对数据进行聚合后进行运算。

常用参数：  
by：常输入字符串或元素为字符串的列表，选择列index与之相同的列作为聚合依据。

In [223]:
df = pd.DataFrame([['a',2], ['a',35], ['b',2], ['a',6], ['c',5]], 
                  columns=['name', 'number'])     
                               # 创建dataframe
df

  name  number
0    a       2
1    a      35
2    b       2
3    a       6
4    c       5

In [224]:
df.groupby('name').apply(np.mean)    # 分组计算平均值

         number
name
a     14.333333
b      2.000000
c      5.000000

---
### 5 时间序列处理

##### （94）日期字符串转化为datetime
利用pd.to_datetime函数将日期字符串转化为Datetimeindex用于作为某DataFrame的index。

通过该函数获得的DatetimeIndex为后续时间序列处理做准备。

In [225]:
pd.to_datetime(['2017-8-1', '2017-8-2'])

DatetimeIndex(['2017-08-01', '2017-08-02'], dtype='datetime64[ns]', freq=None)

##### （95）生成指定DatetimeIndex
使用pd.date_range函数通过指定时间长度和频率生成DatetimeIndex。

常用参数：  
start：起始时间  
end：结束时间  
periods：时间周期数量  
freq：时间频率

In [226]:
pd.date_range('2017-8-1', periods=5, freq='d')

DatetimeIndex(['2017-08-01', '2017-08-02', '2017-08-03', '2017-08-04',
               '2017-08-05'],
              dtype='datetime64[ns]', freq='D')

##### （96）生成指定PeriodIndex
使用pd.period_range函数生成固定频率的PeriodIndex。

常用参数：
（参照pd.date_range函数）

In [227]:
pd.period_range('2017-8-1', periods=5, freq='d')

PeriodIndex(['2017-08-01', '2017-08-02', '2017-08-03', '2017-08-04',
             '2017-08-05'],
            dtype='period[D]', freq='D')

##### （97）时间序列索引
可参考DataFrame索引的方式。特别的，时间序列可对较高级时间进行索引，如对日频率时间序列进行月索引。

In [228]:
s = pd.Series([1, 2, 3, 4, 5])               # 创建被索引对象
s.index = pd.date_range('2017-7-29', periods=5)
s

2017-07-29    1
2017-07-30    2
2017-07-31    3
2017-08-01    4
2017-08-02    5
Freq: D, dtype: int64

In [229]:
s.loc['2017-7']                              # 索引月级别数据

2017-07-29    1
2017-07-30    2
2017-07-31    3
Freq: D, dtype: int64


##### （98）转换时间序列频率
利用df.resample方法将时间序列转化为指定时间频率的时间序列，通常在之后使用.function完成相关运算，如聚合。

常用参数：  
rule：指定时间频率

In [230]:
s = pd.Series(np.random.randn(10))               # 创建被索引对象
s.index = pd.date_range('2017-7-25', periods=10)
s

2017-07-25    2.365549
2017-07-26   -1.049833
2017-07-27   -0.469093
2017-07-28    0.940941
2017-07-29   -1.623167
2017-07-30    0.934857
2017-07-31    0.290800
2017-08-01   -0.202417
2017-08-02    0.171327
2017-08-03   -0.317472
Freq: D, dtype: float64

In [231]:
s.resample('M').ohlc()       
# 等价于s.resample('M', how='ohlc')

                open      high       low     close
2017-07-31  2.365549  2.365549 -1.623167  0.290800
2017-08-31 -0.202417  0.171327 -0.317472 -0.317472

---
### 6 数据读取与储存

##### （99）csv文件读取
使用pd.read_csv函数读取csv文件，返回DataFrame或Series。

常用参数：  
sep：设置读取数据时，分隔一行数据中各个元素的符号，默认为','  
header：设置作为列名的行数  
names：如果header=None，则通过names进行列名设置  
index_col：设置作为index的列  
skiprows：跳过某一行不获取数据

##### （100）excel文件读取

使用pd.excel函数读取excel文件，返回DataFrame或Series。

常用参数：
sheetname:可以通过输入字符串或整数确定将要读取的sheet
（其他参数可按照pd.read_csv函数）

##### （101）储存为csv文件
利用df.to_csv方法将当前DataFrame保存为指定文件。

In [232]:
df = pd.DataFrame([['a',2], ['a',35], ['b',2], ['a',6], ['c',5]], 
                  columns=['name', 'number'])     
                               # 创建dataframe
    
df.to_csv('test.txt')

##### （102）储存为excel文件
利用df.to_excel方法将当前DataFrame保存为指定文件

In [233]:
df = pd.DataFrame([['a',2], ['a',35], ['b',2], ['a',6], ['c',5]], 
                  columns=['name', 'number'])     
                               # 创建dataframe
    
df.to_excel('test.xls')